*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
	cursor: url("2.png"), auto;
}

body{
    background-color: #170229;
    text-align: center;
    background-image: url(bg2.png);
    
}
.h1 {
    color: #FAE1DF;
    margin: 0;
    font-size: 9vmin;
    font-family: cursive;
    margin-top: 5vh;
    text-shadow: 0 0 1rem rgb(250, 225, 223, 0.2);
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2.5vmin;
}
.box{
    background-color: #7B5E7B;
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 5%;
    box-shadow:0 0 1rem rgb(250, 225, 223, 0.3);
    font-size: 13vmin;
    text-align: center;
    color: #28024e;
    font-family: cursive;
}
#reset {
    position: relative;
    z-index: 9999;
    font-size: 4vmin;
    font-family: cursive;
    background-color: #28024e;
    border: none;
    color: #FAE1DF;
    border-radius: 2vmin;
    box-shadow: 0 0 1rem rgba(213, 29, 16, 0.25);
    width: 28vmin; 
    height: 9vmin; 
}

#congrat{
    float: center;
    top: -2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
}
#ani{
    
}

#drawn{
    float: center;
    top: -2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    display: none;
}

.msg{
    color: #FAE1DF;
    top: 44vh;
    text-align: center;
    position: absolute;
    font-family: cursive;
    font-size: 8vmin;
    width: 100%;
    text-shadow:0 0 1rem rgba(213, 29, 16, 2) ;
    display: none;
}


.scoreboard {
    display: flex;
    width: 100%;
    margin: auto;
    color: #FAE1DF;
    font-size: 2rem;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}

.scoreboard p{
    margin: 2vmin;
    display: flex;
    padding-left: 2vmin;
    text-align: left;
    width: 20vmin;
    border: 1px solid ;
    margin: none;
    
}
/*
.scoreboard p span{
    padding-left: 5vh;
    text-align: right;
}
*/
